In [5]:
#introduction to for loops:

In [2]:
my_students = ['bhavani','zakir','ranga','divya','srinivas','suresh','mohan']

print(my_students)

['bhavani', 'zakir', 'ranga', 'divya', 'srinivas', 'suresh', 'mohan']

In [3]:
type(my_students)

list

In [ ]:
#writing a for loop:

for ---> temp var and then main variable ----> take care of the indentation:
    print(temp var)
    
    iteration ----->

In [8]:
for batman in my_students:
    print(batman)

bhavani
zakir
ranga
divya
srinivas
suresh
mohan

In [ ]:
#enhancment of the foor loop:

#automating the print statements.

#indented part.

In [9]:
my_students = ['bhavani','zakir','ranga','divya','srinivas','suresh','mohan']

print(my_students)

['bhavani', 'zakir', 'ranga', 'divya', 'srinivas', 'suresh', 'mohan']

In [ ]:
#req: automate the print statement for every one!

In [10]:
for x in my_students:
    print(f"{x.title()}, good job for completing the practise regulary!!")

Bhavani, good job for completing the practise regulary!!
Zakir, good job for completing the practise regulary!!
Ranga, good job for completing the practise regulary!!
Divya, good job for completing the practise regulary!!
Srinivas, good job for completing the practise regulary!!
Suresh, good job for completing the practise regulary!!
Mohan, good job for completing the practise regulary!!

In [11]:
new_students = ['harsha','krishna','siressha','vijaya','sahil','poojitha']

print(new_students)

['harsha', 'krishna', 'siressha', 'vijaya', 'sahil', 'poojitha']

In [12]:
for student in new_students:
    print(f"Thanks for joining the session on time, {student.title()}")

Thanks for joining the session on time, Harsha
Thanks for joining the session on time, Krishna
Thanks for joining the session on time, Siressha
Thanks for joining the session on time, Vijaya
Thanks for joining the session on time, Sahil
Thanks for joining the session on time, Poojitha

In [16]:
#further enhancemnets of the code:

for student in new_students:
    print(f"Thanks for joining the session on time, {student.title()}")
    
print('\nThanks everyone for showing intrest in learning python')

Thanks for joining the session on time, Harsha
Thanks for joining the session on time, Krishna
Thanks for joining the session on time, Siressha
Thanks for joining the session on time, Vijaya
Thanks for joining the session on time, Sahil
Thanks for joining the session on time, Poojitha

Thanks everyone for showing intrest in learning python

In [18]:
#Making a numerical list:

#last value in the range is always exclusive ----> 10

for value in range(1,50):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [20]:
#how to use the range to make a list of numbers:

numbers = list(range(1,30))

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
#range is also having a step count validation:

In [ ]:
#req: want to print only even numbers from 1,50 by using the range:

In [22]:
even_num =list(range(2,51,2))


print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]